
#aboutWrapper{
    background-image: url("../images/black-business-computer-6320.jpg");
	background-position: center;
    background-size: cover;
}
.aboutBox{
	background-color: rgba(255,255,255,0.5);
}
.addImageHeader{
    background-size: cover;
    height: 15em;
}
#albumImageDiv{
    background-image: url("../images/audio-close-up-electronics-1389429.jpg");
}
#artistImageDiv{
    background-image: url("../images/artist-guitar-guitarist-33597.jpg");
}
body {
    background-color: #efa909;
    color: black;
    height: 100%;
}
.container {
    margin-top: 70px;
}
.displayBlock{
    display: inline-block;
}
.displayContainer{
    padding: 0;
    width: 40%;
}
.displayDetails{
    padding: 1em;
}
.displayResultsTypeDiv{
    background-color: rgb(241, 241, 241);
    margin: 0 auto;
    width: 70%;
}
.displayTitle{
    padding: .8em;
    width: 100%;
}
#infolabel {
    font-weight: bold;
}

.input-info {
    width: 60%;
}
.logInForm{
    width: 50%;
}
.logInHeader{
    width: 100%;
}
.logo{
	height: 1.5em;
}
nav {
    margin-bottom: 70px;
}
.opacityFull{
	opacity: 1.0;
}
.results{
    padding: 0;
}
#searchResults{
    padding: 0;
    width: 60%;
}
#searchResultsList{
    padding: 1.5em 0 1.5em 0;
}
#searchResultsTitle{
    padding: .6em;
    width: 100%;
}
#songImageDiv{
    background-image: url("../images/antique-business-electronics-164901.jpg");
}