.card {
    width: 65%;
}

nav {
    margin-bottom: 70px;
}

#infolabel {
    font-weight: bold;
}

.container {
    margin-top: 70px;
}

body {
    background-color: #efa909;
    color: black;
    height: 100%;
}
